aiohttp==3.5.4
async-timeout==3.0.1
attrs==19.3.0
chardet==3.0.4
discord.py==1.2.5
dj-database-url==0.5.0
Django==2.2.10
django-heroku==0.3.1
gunicorn==20.0.4
idna==2.8
multidict==4.6.1
psycopg2==2.8.4
pytz==2019.3
sqlparse==0.3.0
websockets==6.0
whitenoise==4.1.4
yarl==1.4.1
